<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Millionaire</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Имя</th>
        <th>Результат</th>
    </tr>
    <tr>
        <td><%=data[0].name%></td>
        <td><%=data[0].score%></td>


    </tr>
    <tr>
        <td><%=data[1].name%></td>
        <td><%=data[1].score%></td>


    </tr>
    <tr>
        <td><%=data[2].name%></td>
        <td><%=data[2].score%></td>


    </tr>
    <tr>
        <td><%=data[3].name%></td>
        <td><%=data[3].score%></td>


    </tr>
    <tr>
        <td><%=data[4].name%></td>
        <td><%=data[4].score%></td>


    </tr>
    <tr>
        <td><%=data[5].name%></td>
        <td><%=data[5].score%></td>


    </tr>
    <tr>
        <td><%=data[6].name%></td>
        <td><%=data[6].score%></td>


    </tr>
    <tr>
        <td><%=data[7].name%></td>
        <td><%=data[7].score%></td>

    </tr>
    <tr>
        <td><%=data[8].name%></td>
        <td><%=data[8].score%></td>
    </tr>
</table>
</div>

</body>
<script src="client.js" type="module" ></script>

</html>